@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn-link" href="@Url.Action("AddProduct", "Products")">Ajouter produit</a>
        <br/>
        <br/>
        <br/>
    <a class="btn-link" href="@Url.Action("ProductsList", "Products")">Catalogue des produits</a>
</div>