@model Eshopping_MVC.Models.ProductCopy


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Ajouter un exemplaire à un produit</title>
</head>
<body>
<h1>Ajout d'exemplaires</h1>
<div>
    <form asp-controller="Products" asp-action="AddProductCopy" method="post">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <label for="serialCode">Numéro de série</label>
        <input type="text" id="serialCode" name="SerialCode"/>
        <span asp-validation-for="SerialCode" class="text-danger"></span>
        
        <label for="productId" >Identifiant produit</label>
        <input type="number" id="productId" name="ProductId" required/>
        <span asp-validation-for="ProductId" class="text-danger"></span>
        
        <label for="cartId">Identifiant cart</label>
        <input type="number" id="cartId" name="CartId" required/>
        <span asp-validation-for="CartId" class="text-danger"></span>
        <button type="submit">Ajouter</button>
    </form>

</div>
</body>
</html>