@model TModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Ajouter un produit</title>
</head>
<body>
<h1>Ajout de produit</h1>
<div>
    <form asp-controller="Products" asp-action="AddProduct" method="post">
        <label for="Name">Nom du produit</label>
        <input type="text" id="Name" required/>

        <label for="Description">Description</label>
        <input type="text" id="Description" required/>

        <label for="ImageUrl">Image</label>
        <input type="text" id="ImageUrl" required/>

        <label for="Price">Prix</label>
        <input type="number" id="Price" required/>

    </form>
</div>
</body>
</html>