@model Eshopping_MVC.Models.Product

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Modifier un produit</title>
    </head>
<body>
<div class="container mt-5">
    <h1>Modifier un produit</h1>
    <form asp-controller="Products" asp-action="EditProduct" method="post">
        <input type="hidden" asp-for="productId"/>
        
        <div class="form-group">
            <label for="name">Nom du produit</label>
            <input type="text" class="form-control" id="name" name="Name" asp-for="Name" required/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="Description" asp-for="Description" required/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="imageUrl">Image</label>
            <input type="text" class="form-control" id="imageUrl" name="ImageUrl" asp-for="ImageUrl" required/>
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="price">Prix</label>
            <input type="number" class="form-control" id="price" name="Price" asp-for="Price" required/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
</div>

</body>
</html>
